---
http_interactions:
- request:
    method: get
    uri: https://ipinfo.io/json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '"1228214206"'
    body:
      encoding: UTF-8
      string: |-
        {
          "ip": "24.61.23.195",
          "hostname": "c-24-61-23-195.hsd1.ma.comcast.net",
          "city": "Boston",
          "region": "Massachusetts",
          "country": "US",
          "loc": "42.3584,-71.0598",
          "org": "AS7922 Comcast Cable Communications, Inc."
        }
  recorded_at: Sat, 15 Feb 2014 19:46:29 GMT
recorded_with: VCR 2.8.0
